p,body{
    margin: 0;
}
.welcome{
    height: 100vh;
    text-align: center;
    font-size: 60px;
    background: url("../img/bg.jpg") no-repeat;
}
.game{
    height: 100vh;
}
.game tbody{
    position: absolute
}
.finish{
    height: 100vh;
}
.startBtn{
    margin-top: 150px;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid white;
    color: white;
    font-size: 48px;
}
.desc{
    color: white;
    padding-top: 30vh;
}
.fail,.finish{
    text-align: center;
    height: 100vh;
    font-size: 50px;
}
.countDown{
    height: 180px;
    line-height: 180px;
    text-align: center;
}
.time{
    display: inline-block;
    font-size: 80px;
}
.newGame{
    font-size: 50px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    padding: 20px 40px;
}
.GameButton{
    text-align: center;
    margin-top: 100px;
}
.notice{
    display: inline-block;
    padding: 150px;
}
/*.logo{*/
    /*width: 400px;*/
    /*height: 200px;*/
    /*display: inline-block;*/
    /*border: 1px solid white;*/
/*}*/